<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <h1>404</h1>
        <p>Denna sida existerar inte...</p>
        <MudNavLink Href="/">Tillbaka till start</MudNavLink>
    </NotFound>
</Router>
