<div style="background-color: #f0eeea;">
    <MudContainer Fixed="true" Style="width: 98%;" Class="pt-8">
        <MudGrid Spacing="2">
            <MudItem xs="3" sm="3" md="1">
                <img src="images/m.svg" alt="MM" />
            </MudItem>
            <MudItem xs="9" sm="9" md="3">
                <MudText Typo="Typo.h5" Color="Color.Primary">
                    Matilda Madeon
                </MudText>
                <MudText Typo="Typo.body1">
                    Scenograf och kostymör.
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="8">
                <MudText Typo="Typo.body1">
                    Att samma annat för del ordningens sax brunsås regn sällan dimma mot, ser omfångsrik i söka erfarenheter björnbär göras annat dimma flera icke, sorgliga samma ser vemod vad och dag sitt kom stig.
                    Att samma annat för del ordningens sax brunsås regn sällan dimma mot, ser omfångsrik i söka erfarenheter björnbär göras annat dimma flera icke, sorgliga samma ser vemod vad och dag sitt kom stig.
                </MudText>
            </MudItem>
            <MudItem xs="12" Class="mt-6">
                <MudText Typo="Typo.body1" Style="display: flex; align-items: center;">
                    <MudIcon Icon="@Icons.Filled.AlternateEmail" />&nbsp; <a style="text-decoration: underline;" href="mailto:matilda.madeon@gmail.com" rel="noopener noreferrer">matilda.madeon@gmail.com</a>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.body1" Style="display: flex; align-items: center;">
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram" />&nbsp; <a style="text-decoration: underline;" href="https://www.instagram.com/matildamadeon/" rel="noopener noreferrer" target="_blank">matildamadeon</a>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.body2" Style="display: flex; justify-content: end">
                    © Matilda Madeon @DateTime.Now.Year
                </MudText>
            </MudItem>
            <MudItem xs="3">
            </MudItem>
            <MudItem xs="3">
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>